@model MessageBoard.Models.Comment

@{
    ViewData["Title"] = "Item - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="cool">Make a comment.</h2>
<hr />
<div class="form-group">

    @using (Html.BeginForm())
    {
        <div class="cool">
            @Html.LabelFor(model => model.Response)
        </div>
        @Html.EditorFor(model => model.Response, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Response)
        <div class="cool">
            @Html.LabelFor(model => model.PostId, "Choose a post to respond to:")
        </div>
        @Html.DropDownList("PostId")
        @Html.ValidationMessageFor(m => m.PostId)
        <input type="submit" value="Create" class="btn btn-default" />
    }
</div>

<a href="../../posts">Click here to return to posts.</a>
