@{
    ViewData["Title"] = "Log In";

}
@using MessageBoard.ViewModels

@model LoginViewModel

<div>@Html.ValidationSummary()</div>
<div class="cool2">
    <h2>Log in with your account</h2>
    <hr />
</div>
@using (Html.BeginForm())
{   <div class="cool2">
        @Html.LabelFor(m => m.Email)
    </div>
    @Html.TextBoxFor(m => m.Email)
    @Html.ValidationMessageFor(m => m.Email)
    <div class="cool2">
        @Html.LabelFor(m => m.Password)
    </div>
    @Html.PasswordFor(m => m.Password)
    @Html.ValidationMessageFor(m => m.Password)

    <input type="submit" value="Log in" class="btn btn-default" />
}
<div class="cool2">
    <h2>Don't have a log in? Register here:</h2>
</div>
<p>@Html.ActionLink("Register", "Register")</p>
